
div[name='information'] {
	width:75%;
	margin:auto;
}


#items {

	width:85%;
	height:21em;
	margin:auto;

}

#picture {
	/*border:2px solid black;*/
	width:25%;
	height:18em;

}

.info {
	border:2px solid black;
	width:68%;
	height:12em;
	text-align:left;
	border-radius:1.0em;
	/*padding-left:2px;*/
	position:relative;
	float:left;
	align:top;
	margin-left:5%;
}

#tableitem {
	/*border:2px solid black;*/
	width:100%;
	margin:auto;
	height:15em;
}

#picturetd {
	width:27%;
}

#pictureimg {
	/*position:absolute;*/
	height:18em;
}

#userinfo {
	/*width:50%;*/
	height:100%;
	/*border:2px solid black;*/
	background-color:white;
	border-radius:0.5em;
}

#centerdiv {

}